<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adatok rögzítése</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="teamName" class="form-label">Csapatnév</label>
            <input
              type="text"
              class="form-control"
              id="teamName"
              [value]="teamData?.teamName"
              (input)="teamData!.teamName = getValue($event)"
            />
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Kategória</label>
            <select
              class="form-select"
              id="category"
              [value]="teamData?.category"
              (input)="teamData!.category = getValue($event)"
            >
              <option selected>Válassz...</option>
              <option value="Robomission Elementary">
                Robomission Elementary
              </option>
              <option value="Robomission Junior">Robomission Junior</option>
              <option value="Robomission Senior">Robomission Senior</option>
              <option value="Robosport">Robosport</option>
              <option value="Future Innovators">Future Innovators</option>
              <option value="Future Engeneers">Future Engeneers</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="teamMembers" class="form-label"
              >Csapattagok száma</label
            >
            <input
              type="number"
              class="form-control"
              id="teamMembers"
              min="2"
              max="3"
              [value]="teamData?.memberCount"
              (input)="teamData!.memberCount = getValue($event)"
            />
          </div>
          <div class="mb-3">
            <label for="teamLeader" class="form-label">Csapatvezető neve</label>
            <input
              type="text"
              class="form-control"
              id="teamLeader"
              [value]="teamData?.teamLeader"
              (input)="teamData!.teamLeader = getValue($event)"
            />
          </div>
          <div class="mb-3">
            <label for="teamLeaderEmail" class="form-label"
              >Csapatvezető e-mail címe</label
            >
            <input
              type="email"
              class="form-control"
              id="teamLeaderEmail"
              [value]="teamData?.teamLeaderEmail"
              (input)="teamData!.teamLeaderEmail = getValue($event)"
            />
          </div>
          <div class="mb-3">
            <label for="teamLeaderBirth" class="form-label"
              >Csapatvezető születési dátuma</label
            >
            <input
              type="date"
              class="form-control"
              id="teamLeaderBirth"
              [value]="teamData?.teamLeaderBirthDate"
              (input)="teamData!.teamLeaderBirthDate = getValue($event)"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="cancel()"
        >
          Mégsem
        </button>
        <button type="button" class="btn btn-success" (click)="save()">
          Mentés
        </button>
      </div>
    </div>
  </div>
</div>
